{% extends "layout.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "components/filter-panel.njk" import filterLayout %}

{% block main_content %}
  <h1 class="govuk-heading-xl">Accommodation</h1>

  {% call filterLayout({ action: "/accommodations", filters: filters, selectedFilters: selectedFilters }) %}
    {% if accommodations.length %}
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          {{ accommodations.length }} address{{ "es" if accommodations.length != 1 }}{{ " matching your filters" if filtered }}
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Address</th>
            <th scope="col" class="govuk-table__header">Postcode</th>
            <th scope="col" class="govuk-table__header">Local authority</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Sponsors</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Guests</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for acc in accommodations %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="/accommodations/{{ acc.id }}">{{ acc.address }}</a></td>
              <td class="govuk-table__cell app-nowrap">{{ acc.postcode or "Not given" }}</td>
              <td class="govuk-table__cell">{{ acc.council or "No local authority" }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">{{ acc.sponsors }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">{{ acc.guests }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% elif filtered %}
      {{ govukInsetText({ html: 'No accommodation matches these filters. <a class="govuk-link" href="/accommodations">Clear filters</a>.' }) }}
    {% else %}
      {{ govukInsetText({ html: 'No accommodation yet. <a class="govuk-link" href="/">Process the next data file</a> to bring applications in.' }) }}
    {% endif %}
  {% endcall %}
{% endblock %}
