{% extends "layout.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "components/status-tag.njk" import statusTag %}
{% from "components/filter-panel.njk" import filterLayout %}

{% block main_content %}
  <h1 class="govuk-heading-xl">Visa applications</h1>

  {% call filterLayout({ action: "/applications", filters: filters, selectedFilters: selectedFilters }) %}
    {% if applications.length %}
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          {{ applications.length }} application{{ "s" if applications.length != 1 }}{{ " matching your filters" if filtered }}
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Lead applicant</th>
            <th scope="col" class="govuk-table__header">UAN</th>
            <th scope="col" class="govuk-table__header">Sponsor</th>
            <th scope="col" class="govuk-table__header">Local authority</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">People</th>
            <th scope="col" class="govuk-table__header">Visa status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for a in applications %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/applications/{{ a.id }}">{{ a.given_name }} {{ a.family_name }}</a>
              </td>
              <td class="govuk-table__cell app-nowrap">{{ a.uan or "Not given" }}</td>
              <td class="govuk-table__cell">{{ a.sponsor_given_name }} {{ a.sponsor_family_name }}</td>
              <td class="govuk-table__cell">{{ a.council or "No local authority" }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">{{ a.people }}</td>
              <td class="govuk-table__cell">{{ statusTag(a.visa_status) }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% elif filtered %}
      {{ govukInsetText({ html: 'No applications match these filters. <a class="govuk-link" href="/applications">Clear filters</a>.' }) }}
    {% else %}
      {{ govukInsetText({ html: 'No applications yet. <a class="govuk-link" href="/">Process the next data file</a> to bring the first batch in.' }) }}
    {% endif %}
  {% endcall %}
{% endblock %}
